body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(203,10,18);
  overflow:hidden;
}

#knobscanvas {
  border:1px solid red;
  position:absolute;
  height:0;
  left:0;
  bottom:0px;
}

#sketchcanvas {
  position:absolute;
  margin: 0;
  border: 1px solid #888;
  color: white;
  border-radius: 10px;
}

#sketchcanvasborder {
  position:absolute;
  margin: 0;
  border: 2px solid #9e010d;
  border-left:5px solid rgb(235,190,190);
  border-right:5px solid rgb(235,190,190);
  background:#9e010d;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(255,100,100);
}

#clearbutton {
  font-family: sans-serif;
  font-size: 20px;
  text-decoration:none;
  color:white;
  position:absolute;
  bottom:0;
  left:50%;
  z-index:2;
  margin-left: -20px;
}